# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
media/

# Git
.git/
.gitignore

# Environment secrets
.env

# IDE
.vscode/
.idea/

# Docs build output
docs/_build/

# OS
.DS_Store
Thumbs.db

# Readme and planning docs
*.md
Planning/
